*{
    padding: 0; margin: 0; box-sizing: border-box;
}
img{max-width: 100%;}
html, body {
    height: 100vh;
    overflow: hidden;
    color: antiquewhite;
}

#debug *{border: 1px dashed black;}

:root {
    --black: #000000;
    --white: #ffffff;
    --green: #adff2f;
    --blue-dark: #080b12;
    --blue-light: #141922;
    --black-light: #282828;
}

.w-100{width: 100%;}
.bg-black{background-color: var(--black);}
.bg-black-light{background-color: var(--black-light);}

#app_main{
    height: calc(100vh - 92px);
    display: flex;
    flex-direction: row;
    .sidebar{
        padding-top: 2px;
        background-color: var(--black);
        height: 100%;
        width: calc((100% / 12) * 1); 
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        /* white-space: nowrap; 
        text-overflow: ellipsis; */
        

        @media(min-width:600px){
            background-color: burlywood;
            width: calc((100% / 12)*2); 
            overflow:visible;
        }
    }
    .sidebar a{ display: flex; justify-content: center;} 
    .sidebar a img{ 
        width: 70%;
    }
    .header_main{
        background-color: #adff2f;
        height: 100%;
        width: 100%;
    }
    header{
        background-color: var(--blue-dark);
        height: 88px;
        width: calc((100% / 12) * 12);
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .btn_header{
        margin-right: 1rem;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: var(--white);
        padding: 0.8rem 1.8rem;
        background-color: transparent;
        border: 1px solid var(--white);
        border-radius: 1.8rem;
    }
    
}

#app_footer{
    .container{
        background-color: var(--black-light);
        height: 92px;
        /* margin: auto; */
    }
}