*{
    padding: 0; margin: 0; box-sizing: border-box;
}
img{max-width: 100%;}
html, body {
    height: 100vh;
    overflow: hidden;
    color: antiquewhite;
}

#debug *{border: 1px dashed black;}

:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #a3a3a3;
    --green: #adff2f;
    --blue-dark: #080b12;
    --blue-light: #141922;
    --black-light: #282828;
}

.w-100{width: 100%;}
.bg-black{background-color: var(--black);}
.bg-black-light{background-color: var(--black-light);}

#app_main{
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    flex-direction: row;
    .sidebar{
        height: 100%; 
        width: calc((100% / 12) * 1);
        .sidebar-md-lg{display:none;}
        @media(min-width:600px){
            width: calc((100% /12)*5); 
            .sidebar-sm{display: none;} 
            .sidebar-md-lg{display:block;}
        }
    }

    .sidebar-sm{
        width: 100%; 
        padding-top: 2px;
        background-color: var(--black);
        height: 100%;
        overflow: hidden; 
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        /* white-space: nowrap; 
        text-overflow: ellipsis; */ 
        a{ display: flex; justify-content: center;}
        a img{ width: 70%;}

    }

    /* SIDEBAR 2nd VERSION */
    .sidebar-md-lg{
        width: 100%;
        height: 100%;
        background-color: blue;

        .container{margin: 1rem 1rem 0rem 1rem;}
        .logo_md_lg img{width: 70%;}
        .icon_text_md_lg{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            a {width: 15%; display: flex; align-items: center;}
            img{width: 80%;}
        }
        .playlist{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .add_playlist{
                display: flex; 
                align-items: center;
                gap:0.4rem;
                padding-bottom: 0.6rem;
                .fa-solid{background-color: var(--gray); padding: 0.4rem;}
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 0.6rem;
            }
        }

    }



    .header_main{
        background-color: #adff2f;
        height: 100%;
        width: calc((100% / 12) * 11);

        @media(min-width:600px){
            width: calc((100% / 12) * 7);
        }
    }
    header{
        background-color: var(--blue-dark);
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }
    .btn_header{
        margin-right: 0.8rem;
        font-size: 0.6rem;
        text-transform: uppercase;
        color: var(--white);
        padding: 0.6rem 1.8rem;
        background-color: transparent;
        border: 1px solid var(--white);
        border-radius: 1.8rem;
    }
}

#app_footer{
    .container{
        background-color: var(--black-light);
        height: 60px;
        /* margin: auto; */
    }
}