*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    font-family: Helvetica,"Roboto", Arial, sans-serif;
}
#debug *{border: 1px white dashed;}

img{max-width: 100%;}

:root {
    --black: #000000;
    --white: #ffffff;
    --gray: #a3a3a3;
    --gray2: #c1c1c1;
    --green: #adff2f;
    --blue-dark: #080b12;
    --blue-light: #141922;
    --black-light: #282828;
    --gray3: #141922;
}

.w-100{width: 100%;}
.h-100{height: 100%;}
.bg-black{background-color: var(--black);}
.bg-black-light{background-color: var(--black-light);}
.d-flex{display: flex;}
.f-col{flex-direction: column;}
.f-row{flex-direction: row;}
.c-gray{color: var(--gray);}
.c-white{color: var(--white);}
.c-black{color: var(--black);}

.col-1 { width: calc((100% / 12) * 1); }
.col-2 { width: calc((100% / 12) * 2); }
.col-3 { width: calc((100% / 12) * 3); }
.col-4 { width: calc((100% / 12) * 4); }
.col-5 { width: calc((100% / 12) * 5); }
.col-6 { width: calc((100% / 12) * 6); }
.col-7 { width: calc((100% / 12) * 7); }
.col-8 { width: calc((100% / 12) * 8); }
.col-9 { width: calc((100% / 12) * 9); }
.col-10 { width: calc((100% / 12) * 10); }
.col-11 { width: calc((100% / 12) * 11); }
.col-12 { width: calc((100% / 12) * 12); } 

.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.align-items-center{align-items: center;}
.align-items-start{align-items:start;}

#app_main{
    background-color: black;
    width: 100%;
    display: flex;
    flex-grow: 1;
    overflow: hidden;  /*x not horizontal scroll*/

    .sidebar{
        background-color: black;
        width: calc((100% / 12) * 1);  /* mobile first(xs) NO @! set standart width default*/
        height: calc(100vh - 4rem);
        position: sticky;
        top: 0rem;
        left: 0;
        z-index: 2;
        overflow-y: auto;  /*allow scroll if elems increase*/
        color: gray;
        font-weight: bold;
        font-size: 0.77rem;

        @media (max-width:575px){
            .sidebar2{display: none !important;}
        }
        @media (min-width:576px){  /*S */
            width: calc((100% / 12) * 3);
            .sidebar2{display: flex !important;}  /*usa !important per assicurarti che questa sovrascriva tutto*/
            .sidebar1{display: none !important;}
        }
        @media (min-width:768px){  /*MD */
            width: calc((100% / 12) * 3);
        }
        @media (min-width:992px){  /*LG */
            width: calc((100% / 12) * 2);
        }

        .sidebar1{
            display:flex;
            flex-direction: column;
            gap: 0.7rem;
            padding: 0.5rem 0.4rem;
            div{
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{cursor: pointer;}
            }
        }
        .sidebar2{
            padding: 1rem;
            display:flex;
            flex-direction: column;
            gap: 0.88rem;
            width: 100%;
            height: 100%;
            border: 1px purple solid;

            .logo{
                width: 70%;
                display:flex;
                align-items:center;
                padding-bottom: 0.2rem;
            }
            .navigation{
                display:flex;
                flex-direction:column;
                gap: 0.1rem;
                span{
                    display:flex;
                    align-items:center;
                    gap: 0.2rem;
                }
                span a{width: 15%; display:flex; align-items:center;}
                span a img{width: 100%; 
                    filter: grayscale(100%) brightness(50%);
                }
            }
            .playlist{
                display:flex;
                flex-direction:column;
                gap:0.6rem;
                span{
                    display:flex;
                    align-items:center;
                    gap: 0.6rem;
                    div{
                        background-color: gray;
                        padding: 0.4rem;
                        i{font-size: 1.2rem;}
                    }
                }
                ul{
                    list-style: none;
                    padding: 0rem;
                    margin: 0rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.6rem;
                }
            }
            .myprofile{
                /* flex-grow: 1; */  /*grow this section, but here not necessary*/
                margin-top: auto; /*il margine prende tutto lo spazio disponibile*/
                align-self: flex-start;
                width: 100%;
                span{display:flex; align-items:center;}
                h4{display:flex; align-items:center;}
            }
        } 
    }

    
    .header_main{
        width: calc((100% / 12) * 11);  /*XS default*/
        display: flex;
        flex-direction: column;
        height: calc(100vh - 8rem);  /*toglio 4 x header + 4 x footer*/
        position: sticky;
        top: 4rem;  /*start 4rem in basso*/
        left: 0; 
        color: white;
        background-color: var(--gray3);
        padding: 0rem 1rem;

        @media (min-width:576px){  /*S */
            width: calc((100% / 12) * 9);
            .explore_types .row_Explore .card_Explore{
                width: calc((100% / 12) * 4) !important;  /*3 cards_Explore x row*/
            }
        }
        @media (min-width:768px){  /*MD */
            width: calc((100% / 12) * 9);  /*don't touch*/
            .visual .row .card{  
                width: calc((100% / 12) * 3) !important;  /*overwrite, apply to all .card*/
            }
            .explore_types .row_Explore .card_Explore{
                width: calc((100% / 12) * 3) !important;  /*4 cards_Explore x row*/
            }
        }
        @media (min-width:992px){  /*LG */
            width: calc((100% / 12) * 10);
            .visual .row .card{
                width: calc((100% / 12) * 2) !important;  /*overwrite*/
            }
            .explore_types .row_Explore .card_Explore{
                width: calc((100% / 12) * 1) !important;  /*12 cards_Explore x row*/
            }
        }

        header{
            position: fixed;
            background-color: var(--blue-dark);
            width: 100%;
            height: 4rem;
            top: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: end;
            z-index: 1;
            .btn_header{
                z-index: 2;
                margin-right: 0.8rem;
                font-size: 0.8rem;
                text-transform: uppercase;
                color: var(--white);
                padding: 0.6rem 1.6rem;
                background-color: transparent;
                border: 1px solid var(--white);
                border-radius: 1.8rem;
            }
        }
        .visual{
            overflow-y: auto;
            overflow-x: hidden;  /*block horizontal scrolling!caused by -margin*/
            .type_playlist{
                p{font-size: 0.8rem; font-weight: bold; color: gray; }
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
                padding-bottom: 0.6rem;
            }
            .row{
                display: flex;
                flex-wrap: wrap;  /*per anadare a capo a fine riga*/
                row-gap: 1rem; 
                margin: 0rem -0.5rem;
                padding-bottom: 1rem;
                .card{
                    width: calc((100% / 12) * 6);  /*default, 2 cards x row*/
                    border: 1px red solid;
                    padding: 0rem 0.4rem 0.6rem 0.4rem;
                    display: flex;
                    flex-direction: column;
                    gap: 0.4rem;
                    justify-content: start;  /*direction column : now this is align items*/
                    align-items: center;
                    font-size: 0.8rem;
                    font-weight: bold;
                    text-align: center;
                    span{font-size: 0.6rem;}
                }
            }

            .explore_types{
                padding: 1rem;
                .row_Explore{
                    display: flex;
                    flex-wrap: wrap;
                    row-gap: 0.5rem;
                    justify-content: center;
                    .card_Explore{
                        width: calc((100% / 12) * 3);  /*4 cards explore x row*/
                        border: 1px purple solid;
                        font-size: 0.7rem;
                        color: gray;
                        font-weight: bold;
                        display: flex;
                        justify-content: center;
                        flex-grow: 1;
                    }
                }
            }
            
        }
    }
}

#app_footer{
    position: fixed;
    z-index: 10;
    left: 0;
    bottom: 0;
    width: 100%;

    section{
        background-color: var(--black-light);
        color: var(--white);
        height: 4rem;    
        display: flex;
        justify-content: center;

        .container{
            display: flex;
            justify-content: space-between;
            width: 96%;

            .current_song{
                display: flex;
                max-height: 100%;
                padding: 0.5rem 0rem;
                .the_song{
                    height: 100%;
                    display:flex;
                    flex-direction:column;
                    justify-content: start;
                    align-items: center;
                    font-size:0.8rem;
                }
                .like_folder{
                    height: 100%;  
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                    i{font-size: 0.9rem;}
                }
            }
            
            .play{
                display: flex;
                flex-direction: column;
                max-height: 100%;
                padding-top: 0.5rem;
                .icons{
                    display: flex; 
                    align-items: start;
                    .fa-circle-play{font-size: 1.6rem;}
                }
                .time{
                    display: flex;
                    align-items: start;
                    span{font-size:0.8rem;}
                    
                }
            }
            .features{
                display: flex;
                flex-direction: row-reverse;
                max-height: 100%;
                padding: 0.5rem 0rem;
                div i{
                    font-size: 0.9rem;
                }
            }
            
        }
    }
}